PONDER_RPC_URL_11155111= # Ethereum RPC URL
IMAGE_TAG= # m3terstate-indexer ghcr image tag

# For non-docker deployments, local and testing
DATABASE_URL=

# For docker based production
POSTGRES_PASSWORD= # choose-a-strong-password
